{:tasks
 {outdated
  {:doc "Show outdated dependencies (GitHub Actions, Dockerfile ARGs)"
   :task (clojure "-Sdeps" "{:deps {com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}"
                  "-M" "-m" "antq.core")}

  tag
  {:doc "Create and push a release tag from version.edn"
   :requires ([clojure.edn :as edn])
   :task (let [version (:version (edn/read-string (slurp "version.edn")))
               tag     (str "v" version)]
           (println "Creating tag:" tag)
           (shell "git" "tag" "-a" tag "-m" (str "Release " version))
           (println "Pushing tag to origin...")
           (shell "git" "push" "origin" tag)
           (println (str "Done! GitHub Actions will build and push " tag)))}}}
